---
# tasks file for role
- name: Create /etc/login.defs file
  template:
    src: etc/login.defs.j2
    dest: "/etc/login.defs"
    owner: root
    group: root
    mode: 0644
  when: logindefs_configure
  tags:
    - logindefs
